<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
          <link rel="icon" href="/img/weather.png" />
          <title>Help</title>
    </head>
    <body>
        <div class="main-content">
           {{>header}}
           <p>Need help? Contact me <a href="http://www.hukaloh.online">here</a></p>
        </div>
         {{>footer}}
    </body>
</html>